/* This is how to comment in CSS.*/

/*There are multiple ways to style in css. Or also called selectors*/

/*The first is to directly reference the element type. 
Referencing element: <name of element type>
Good if all the elements of a type need the same properties (i.e. body, h3 , etc)*/
h3 {
    color: coral;
    text-align: center;
}

body {
    background-color: whitesmoke;
    /*Background image will stamp the image if its smaller than the browser. You can use other background property to format the image. You can uses these properties for any container*/
    background-image: url("japanbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*The second way is to reference a 'Class' of a element. 
Referencing class: .<name of class>. 
Useful for updating only certain elements that are different types and should have same properties*/
.firstEleClass {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: auto;
    text-align: center;
}

/*The third way to reference a element is with id. 
Referencing id: #<name of id>. 
Should be used sparingly. Should be very specific and unique.*/
#firstId {
    color: darkred;
    font-size: 40px;
}

/*Coloring Syntax*/
#colorStyleName {
    color: rebeccapurple;
}
#colorStyleHex { /*Takes values between 0-10 A-F*/
    color: #1243ff;
}
#colorStyleRGB { /*Takes values between 0 - 255*/
    color: rgb(255, 100, 255);
}
/*Gradients - Makeu sure to use background and not background-colors*/
#gradientStyle {
    color: white;
    width: 400px;
    height: 100px;
    text-align: center;
    background: linear-gradient(red, yellow); /*Defaults to up and down gradient*/
    /*Text Shadow - vertical(px) horizontal(px) blur(px) color - last two are optional*/
    text-shadow: 5px 5px 3px black;
    /*Box Shadow - same as text shadow but for containers*/
    box-shadow: 3px 3px 3px purple;
}
#gradientStyle2 {
    color: purple;
    width: 400px;
    height: 100px;
    text-align: center;
    background: linear-gradient(to right,red, yellow); /*Can change the gradient to right to left or vise versa*/
    text-shadow: 1px 1px 3px darkblue;

}
.borderImg {
    border-right: 10px dashed red;
    border-left: 10px solid blue;
}